* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 2fr 1fr 2fr; */
    width: 100%;
    height: 100%;
}

/* ==============================================
                    Header Design
================================================= */
.header-section {
    display: flex;
    align-items: center;
    background-color: #25252577;
    border-radius: 30px;
    margin: 50px 140px 130px 140px;
    grid-column: 1/-1;

}

.header-title {
    width: 45%;
    padding: 5%;
}

.header-title h1 {
    font-size: 64px;
    font-weight: 700;
}

.header-title p {
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    padding: 10px 25px;
    background: #E02C6D;
    border-radius: 5px;
    color: #fff;
}

.btn .fa-angle-right {
    margin-left: 10px;
}

.header-banner {
    width: 45%;
    padding: 5%;
}

.header-banner img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------
                             Navigation Design
----------------------------------------------------------------------------- */
.nav-menu {
    width: 280px;
    height: 280px;
    background-color: #25252577;
    grid-column: 1/3;
    border-radius: 10px;
    margin: 0 24px 0 140px;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 20px;
}

.nav-menu ul a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black
}

.nav-menu ul a li {
    list-style: none;
    padding: 24px 55px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}


.nav-menu ul li:hover,
.nav-menu ul .active-up {
    background: #E02C6D;
    cursor: pointer;
}

/* ==============================================================================================================
                                                    Upcoming Matches Design
================================================================================================================= */
.matches {
    grid-column: 3/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 140px 130px 0;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
}

.match-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.match-pic img {
    width: 93.04px;
    height: 56.18px;
}

.match-title h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: #202020;
}

.match-title p {
    font-weight: 400;
    font-size: 16px;
    color: #515151;
}


/* ================================================================================
                                Footer Design
=================================================================================== */
.footer-section {
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    flex-direction: column;
    background-color: #343950;
    margin-top: 30px;
}

.company-name h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    width: 70%;
}

.footer-menu ul {
    display: flex;
    gap: 30px;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;

}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}